$white: #fff9f9;
$success: #b7ffbc;
$success__text: #11a21b;
$error: #fcc;
$error__text: #aa423c;
$gray: #d2d2d2;
$hover: #d0d0d0;
$black: #0f0e0e;
$square: #131618;
$square__hover: #252a2d;
$shadow: #ffffff18;
$dark__gray: #d2d2d289;