$white: #fff;
$hover: #d0d0d0;
$black: #0f0e0e;

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

html,
body {
  height: 100%;
  background-color: $black;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  align-self: center;
  margin: 2rem 0;
  position: relative;
  z-index: 100;
}

main {
  width: 100%;
  max-width: 1920px;
  align-self: center;
}

footer {
  height: 4rem;
  color: $white;
  border-top: 1px solid $white;
}

.logo {
  margin-left: 10rem;
}

.logo img {
  width: 10rem;
  height: 4rem;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10rem;
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.nav__list li {
  list-style-type: none;
}

.nav__link {
  color: $white;
  line-height: 1;
}

.nav__link:hover {
  color: $hover;
  transition: 1s ease-out;
}

.nav__link:after {
  display: block;
  left: 0;
  width: 0;
  height: 2px;
  background-color: $hover;
  content: "";
  transition: width 0.3s ease-out;
}

.nav__link:hover:after,
.nav__link:focus:after {
  width: 100%;
}

.fon__start{
  position: absolute;
  top: -8.3rem;
  left: 0;
  width: 100vw;
}

.start {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 10% 0 10%;
  height: 34.3rem;
  gap: 3rem;
}

.start__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  z-index: 1;
}

.start__text {
  font-size: 4rem;
  color: $white;
}

.link__presentation {
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  align-self: flex-end;
  gap: 2rem;
  cursor: pointer;
}

.link__presentation img {
  position: relative;
  width: 100%;
  max-width: 4rem;
  height: auto;
}

.link__presentation p {
  color: $white;
}

.link__presentation:hover p {
  color: $hover;
  transition: 1s ease-out;
}

.start__image {
  position: relative;
  max-width: 30rem;
  width: 100%;
  height: auto;
}

.nav__button {
  border: 0;
  background-color: transparent;
  display: none;
}

.nav__button img {
  width: 2rem;
  max-height: 2rem;
  color: $white;
}

@media(min-width:1920px) {
  *{
    font-size: 20px;
  }
}

@media(max-width: 1440px) {
  .start__text {
    font-size: 3rem;
  }
}

@media(max-width: 1024px) {
  * {
    font-size: 16px;
  }

  .start {
    padding: 0 10%;
  }

  .start__text {
    font-size: 3rem;
  }

  .start__image {
    max-width: 22rem;
  }
}

@media(max-width: 768px) {
  * {
    font-size: 14px;
  }

  .logo{
    margin-left: 3rem;
  }

  .nav{
    margin-right: 3rem;
  }

  .nav.open .nav__list {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $black;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8rem;
  }

  .nav.open a {
    font-size: 3.5rem;
  }

  .nav__list {
    display: none;
  }

  .nav__button {
    display: block;
    position: relative;
    z-index: 10;
  }
}

@media(max-width: 375px) {

  .logo img{
    width: 5rem;
    height: 2rem;
  }
}