$white: #fff;

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10rem 2rem 10rem;
}

main {
  background-color: #f5f7fa;
  box-sizing: border-box;
  min-height: calc(100vh - 8rem);
}

footer {
  height: 4rem;
  background-color: aqua;
}

.header__logo {
  width: 10rem;
  height: 4rem;
}

.header__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.header__links a {
  color: $white;
}

.StartPage {
  display: flex;
  background-image: url('./app/assets/fon_start.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -8.2rem;
  width: 100%;
  min-height: 48.3rem;
}